<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuestita</title>
</head>
<body>
    <h2>{{titulo}}</h2> 
    <form action="{% url 'encuesta:enviar'%}"  method="post" >
        {% csrf_token %}
        Nombre:
        <input type="text" name="nombre" maxlength="50"><br>
        Contraseña: 
        <input type="text" name="password"><br>
        Educación:
    <select name="educacion">
        <option value="sin-estudios">Sin estudios</option>
        <option value="educacion-obligatoria" selected="selected">Educacion obligatoria</option>
        <option value="formacion-profesional">Formación profesional</option>
        <option value="universidad">Universidad</option>
    </select> <br>
        Nacionalidad:
        <input type="radio" name="nacionalidad" value="hispana">Hispana</input>
        <input type="radio" name="nacionalidad" value="otra">Otra</input>
        Idiomas:
        <input type="checkbox" name="idiomas" value="español" checked="checked">Español</input>
        <input type="checkbox" name="idiomas" value="ingles" >Ingles</input>
        <input type="checkbox" name="idiomas" value="frances">Frances</input>
        <input type="checkbox" name="idiomas" value="aleman">Aleman</input>
        Email:
        <input type="text" name="email"><br>
        Sitio Web:
        <input type="text" name="sitioweb"><br>
        <input type="submit" name="submit" value="Eviarrrr">
    </form>
</body>
</html>